### BEGIN /etc/grub.d/00_header ###
set default="0"
set timeout="5"

### END /etc/grub.d/00_header ###
### BEGIN /etc/grub.d/10_linux ###
menuentry 'Z-Linux' {
	insmod gzio
	insmod part_msdos
	insmod ext2
	set root='(hd0,msdos1)'
	linux	/boot/vmlinuz-zlinux root=/dev/sda1 ro quiet
	initrd	/boot/initrd.img-zlinux
}

menuentry 'Z-Linux (Recovery Mode)' {
	insmod gzio
	insmod part_msdos
	insmod ext2
	set root='(hd0,msdos1)'
	linux	/boot/vmlinuz-zlinux root=/dev/sda1 ro single
	initrd	/boot/initrd.img-zlinux
}
### END /etc/grub.d/10_linux ###
